body{
    background-color: rgb(13, 13, 37);
}

.div{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 35%;
    margin: -25px 0 0 -25px;
}

.h{
    color: white;
    font-size: 8rem;
}

.btn{
    border-radius: 2rem;
    font-size: 3rem;
    padding: 1rem;
    color: rgb(154, 154, 154);
    background-color: rgb(42, 39, 58);
}

.btn:hover{
    color: white;
    cursor: pointer;
}

#footer{
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 2rem;
    font-size: medium;
    padding: .5rem;
    color: rgb(200, 200, 200);
    background-color: #303030;
    font-family: 'Roboto', sans-serif;
}

@media(max-width:1000px){
    .h{
        font-size: 4rem;
    }
    
    .btn{
        font-size: 2rem;
    }
}

@media(max-width:450px){
    .h{
        font-size: 2rem;
    }
    
    .btn{
        font-size: 1rem;
    }
}